<h1>Welcome to your Volunteer Tracker App</h1>

<div class="container">
  <a href="/volunteers">View All Volunteers</a>
  <br>
  <a href="/volunteers/new">Add New Volunteers</a>
  <br>
  <br>
  <a href="/projects">View All Projects</a>
  <br>
  <a href="/projects/new">Add New Projects</a>
</div>
