<h1>Volunteer Sign Up!</h1>

<p>Add a volunteer:</p>

<form action="/volunteers" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Add Volunteer</button>
  </div>
</form>

<a href="/">Return Home</a>
